@using netmvc.Models.entity
@model List<TBL_KATEGORI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlayoutornek.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>KATEGORİ ID</td>
        <td>KATEGORİ AD</td>
        <td>SİL</td>
        <td>GÜNCELLE</td>
    </tr>
    <tbody>
        @foreach(var ktgri in Model)
        {
        <tr>
            <td>@ktgri.KATEGORIID</td>
            <td>@ktgri.KATEGORIAD</td>
            <td><a href="kategori2/sil/@ktgri.KATEGORIID" class="btn btn-danger">SİL</a> </td>
            <td><a href="kategori2/güncelle/@ktgri.KATEGORIID" class="btn btn-success">GÜNCELLE</a> </td>

        </tr>
        }
    </tbody>
    

</table>
<a href="/kategori2/yenikategori2/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>

