
@{
    ViewBag.Title = "yenikategori2";
    Layout = "~/Views/Shared/_mainlayoutornek.cshtml";
}

<form>
    <div>
        <label>kategori adı</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">kategori ekle</button>
    </div>
</form>

