@using netmvc.Models.entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBL_KATEGORI> 
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody> //verileri listelemek için

        @foreach(var ktgr in Model)
        {
            <tr>
                <th>@ktgr.KATEGORIID</th>
                <td>@ktgr.KATEGORIAD</td>
                <td><a href="/kategori/SİL/@ktgr.KATEGORIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/kategori/kategorigetir/@ktgr.KATEGORIID" class="btn btn-success">GÜNCELLE</a> </td>

            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa}))
<a href="/kategori/yenikategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>

