@model netmvc.Models.entity.TBL_KATEGORI
@{
    ViewBag.Title = "kategorigetir";
    Layout = "~/Views/Shared/_mainlayoutornek.cshtml";
}

@using (Html.BeginForm("güncelle", "kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.KATEGORIID)
        @Html.TextBoxFor(m=>m.KATEGORIID,new { @class = "form-control" })
        <br />
        @Html.LabelFor(m=>m.KATEGORIAD)
        @Html.TextBoxFor(m=>m.KATEGORIAD, new {@class="form-control" })
    </div>
    <div>
        <button class="btn btn-warning">KATEGORİ GÜNCELLE</button>
    </div>
}

